.galery {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}


.galery img {
    width: 360px;
    height: 240px;
}

.counter {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    outline: 1px solid black;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

.sizeControl {
    width: 700px;
    height: 160px;
    background-color: rgb(137, 147, 204);
    margin: 0 auto;
    padding: 10px 20px;
    /* display: flex; */
}